
.matryoshka-tabs-list {
    overflow: hidden;
    margin: -20px 0 0 -20px;
    position: sticky;
    top:0;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding:0 20px;
}

    .matryoshka-tabs-list:after {
        content: '';
        position: absolute;
        left: -20px;
        right: -20px;
        bottom: 0px;
        border-bottom: 1px solid #e9e9eb;
    }

.matryoshka-tab-link {
    position: relative;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    padding: 20px;
    color: #1b264f;
}

.matryoshka-tab-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #f6f4f4;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
}

    .matryoshka-tab-link:not(.active):hover {
        color: #2152a3;
    }

    .matryoshka-tab-link.active:before {
        opacity: 1;
        left: 12px;
        right: 12px;
        height: 4px;
        border-radius: 3px 3px 0 0;
        background-color: #f5c1bc;
    }

    .matryoshka-tab-link:not(.active):hover:before {
        opacity: 1;
        left: 12px;
        right: 12px;
        height: 4px;
        border-radius: 3px 3px 0 0;
        background-color: #e9e9eb;
    }

/* Validation */

.matryoshka-tab-link .icon {
    display: none;
}

.show-validation .matryoshka-tab-link.hasError .icon {
    display: inline;
    position: absolute;
    color: #d42054;
}

.show-validation .matryoshka-tab-link.hasError span {
    margin-left: 20px;
}

.matryoshka-tab-link p {
    margin: 0;
}

/* hide the "Content" dropdown (avoid confusion) */
.dropdown-menu.umb-sub-views-nav-item__anchor_dropdown {
    display:none;
}

.umb-editor-container {
    z-index:2;
}

.matryoshka-tabbed-content-push {
    height:20px;
}

/* moves the Grid re-order bar down so it doesn't cover the tabs */
#umb-grid > .umb-editor-sub-header[umb-sticky-bar] {
    top: 64px;
}