<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9f29e01-2003-46b0-8df8-c3eabca1e70e" Alias="appConfig" Level="3">
  <Info>
    <Name>Application Configuration</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Configuration</Folder>
    <Compositions>
      <Composition Key="9affe298-5f0e-435d-ab2a-3eead716cc04">adminEmailSettings</Composition>
      <Composition Key="01177f13-4941-44e4-9da3-8d7e06cb1bb4">alert</Composition>
      <Composition Key="d760c955-51a1-4709-b42b-dd8aa59a61eb">analytics</Composition>
      <Composition Key="53ec8336-e958-4693-bf5b-63a999755ba6">contactDetails</Composition>
      <Composition Key="f29a7751-d9d4-4912-a8e6-a206e4346e02">cookieNotification</Composition>
      <Composition Key="ce078ee5-87b7-4adc-a401-e22881f36639">site</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f5a7408b-c5a3-4f15-b65b-da77ab5d8210" SortOrder="0">footer</ContentType>
    <ContentType Key="c781ca69-6621-4f82-98a1-b21d8e175e36" SortOrder="1">nav</ContentType>
    <ContentType Key="983d24ab-af93-4721-b43a-ef1aae7d926e" SortOrder="2">theme</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>05a53322-6bc2-483e-a464-fac8a00b1c37</Key>
      <Name>Twitter Username</Name>
      <Alias>twitterUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add your twitter username, used in the share links.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Site Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>