<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da129cc7-e3c9-427d-b04b-bb8b8fc2f4b7" Alias="authorBase" Level="3">
  <Info>
    <Name>Author Base</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>73974c96-623f-4d78-9e97-12fdc7b5027e</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the author text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Author</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>f04765a9-1b27-444e-9236-e4a74b77e5a3</Key>
      <Name>Select Author</Name>
      <Alias>selectedAuthor</Alias>
      <Definition>0c42ce6c-ea0f-41a5-b590-535491d3ba97</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optionally pick one or multiple authors.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Author</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Author</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>