<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02c6ebc4-d22c-4447-aa80-e6bf95f79f76" Alias="columnSettingsComposition" Level="3">
  <Info>
    <Name>Column Settings Composition</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>536e6df5-24ba-43a8-8d96-41e1c4808f62</Key>
      <Name>Items Per Row</Name>
      <Alias>columns</Alias>
      <Definition>60e5ee43-c917-4d50-a1cb-68c61a277083</Definition>
      <Type>FaIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>