<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63588faf-661f-483f-8efb-16e7821fc702" Alias="heroBanner" Level="3">
  <Info>
    <Name>Hero</Name>
    <Icon>icon-megaphone color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="18c559c8-3727-411d-8d1c-03704d6d8a62">subtitleComposition</Composition>
      <Composition Key="eb223080-7435-445d-8572-9b64f0bbbbaa">titleComposition</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0739f8e1-166a-4013-9981-058347573195">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>