<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f874a18-fed9-463a-98e4-d6779017fb26" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="7c0b798a-ded0-4645-b2f8-65985347b349">contentBlockList</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0739f8e1-166a-4013-9981-058347573195">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e9f29e01-2003-46b0-8df8-c3eabca1e70e" SortOrder="0">appConfig</ContentType>
    <ContentType Key="754a40d7-cec8-499a-9fe3-459450706eea" SortOrder="1">articles</ContentType>
    <ContentType Key="09c48482-4087-472f-a81c-4ef94d681c1c" SortOrder="2">contact</ContentType>
    <ContentType Key="39678875-9b8a-460b-a6ab-b12e73b4fd08" SortOrder="3">contentPage</ContentType>
    <ContentType Key="89c3b552-9162-4a4a-9a4c-51d7ffd4da7c" SortOrder="4">landingPage</ContentType>
    <ContentType Key="20e2ceb7-3f9e-4f59-8a2a-b70a95fbd716" SortOrder="5">people</ContentType>
    <ContentType Key="d9236e65-5b5b-4f5e-8c53-bf59fb208234" SortOrder="6">products</ContentType>
    <ContentType Key="8053a360-0fb6-4fee-a091-3f128587e238" SortOrder="7">reusableComponents</ContentType>
    <ContentType Key="00e0e159-99d0-4cd6-9c34-3f8a5e05a93d" SortOrder="8">search</ContentType>
    <ContentType Key="0b50e3d4-3239-410c-9f9f-f751e2ed3183" SortOrder="9">sitemap</ContentType>
    <ContentType Key="81b4ccd9-2622-478c-8f5b-7b38cf836fa3" SortOrder="10">xmlSiteMap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>