<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89c3b552-9162-4a4a-9a4c-51d7ffd4da7c" Alias="landingPage" Level="3">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="f8490a91-e001-4e35-b1f8-f3e1a0201601">contentSection</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>landingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b701b751-53bc-4704-bf4c-875640802b75">landingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="39678875-9b8a-460b-a6ab-b12e73b4fd08" SortOrder="0">contentPage</ContentType>
    <ContentType Key="89c3b552-9162-4a4a-9a4c-51d7ffd4da7c" SortOrder="1">landingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>