<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="251ed707-15ab-4aaa-a67b-0eb0caddf35d" Alias="listingSettingsComposition" Level="3">
  <Info>
    <Name>Listing Content Settings Composition</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2ffcda9d-8f33-4a86-a15e-b803ee1233f6</Key>
      <Name>Items Per Page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>fb27cd00-34a0-457f-a6aa-a65e14b0b508</Definition>
      <Type>FaIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>