<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c781ca69-6621-4f82-98a1-b21d8e175e36" Alias="nav" Level="3">
  <Info>
    <Name>Main Nav</Name>
    <Icon>icon-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>62d33d80-f725-4519-8135-2398cae4ac99</Key>
      <Name>Enable Search</Name>
      <Alias>enableSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ed22a661-0af3-45e6-b978-03125feeaa55</Key>
      <Name>Navbar End</Name>
      <Alias>endBlocks</Alias>
      <Definition>3acd032f-051c-4148-a2aa-602bb823a0cd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>80d82cbf-6b56-4495-bb23-3ab3397bd959</Key>
      <Name>Icon Color</Name>
      <Alias>logoColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose  the color of your icon.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>b1a03668-2f7a-43e5-806b-f9c7f8a338f3</Key>
      <Name>Icon</Name>
      <Alias>logoIcon</Alias>
      <Definition>95592749-57e2-43e3-8638-5306670823b7</Definition>
      <Type>FaIconPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use an Icon as your brand logo.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>dae54ff3-7516-44a7-9623-fd72be656a61</Key>
      <Name>Image</Name>
      <Alias>logoImage</Alias>
      <Definition>519eaa41-b905-4371-aa7c-40c9b3946f66</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Or, choose an image.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ae918731-4d76-46c2-b2b4-5ca1c7761f64</Key>
      <Name>Svg</Name>
      <Alias>logoSvg</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Or, paste your svg code here.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>45b69d7b-ad01-42f1-ada1-ca679ad703d4</Key>
      <Name>Logo Text</Name>
      <Alias>logoText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add text next to your logo.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e77650c0-ef33-497c-aada-686e6e67c69b</Key>
      <Name>Navbar Color</Name>
      <Alias>navbarColor</Alias>
      <Definition>8b43a499-3b0c-4abd-b2e7-ee3f7a4f2bbb</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a background color for the navigation.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navbar Styling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>852ced07-fc77-438f-86ae-9a05831bbe5f</Key>
      <Name>Navbar Gradient</Name>
      <Alias>navbarGradient</Alias>
      <Definition>a728ad57-2da2-4cc4-bed2-cc79f8ee7d4a</Definition>
      <Type>amplifyGradientPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional gradient background.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navbar Styling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>62accd4c-7113-4e2e-954a-1ca9296497c6</Key>
      <Name>Navbar Start</Name>
      <Alias>startBlocks</Alias>
      <Definition>3acd032f-051c-4148-a2aa-602bb823a0cd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navbar</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navbar Styling</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Logo</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>