<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20e2ceb7-3f9e-4f59-8a2a-b70a95fbd716" Alias="people" Level="3">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="02c6ebc4-d22c-4447-aa80-e6bf95f79f76">columnSettingsComposition</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerTitleComposition</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="556975e2-e926-4797-94d8-2cd45a0d8fb5">pageSettings</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0cfb686d-e28b-4d7a-9679-361c201f2270">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="168e52b2-0835-4aca-be10-70072193066f" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>