<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e22b3632-b084-44f4-b833-cb32e275d7d7" Alias="podsList" Level="3">
  <Info>
    <Name>Pods List</Name>
    <Icon>icon-coin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="218fc115-63e8-4dc2-8fb9-2ee298e04926">iconsListComposition</Composition>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>