<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a4ff9ef-1615-4882-b2e4-aaea4a50a12c" Alias="productListSection" Level="3">
  <Info>
    <Name>Product List</Name>
    <Icon>icon-sweatshirt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e198ab69-bc51-43f4-9f94-e0038763208c</Key>
      <Name>Products</Name>
      <Alias>products</Alias>
      <Definition>ed206f38-d22c-457d-a393-8d93cd6ba96e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick the products to display.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>