<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="345edfea-ed7f-41c5-a115-4dde65104adc" Alias="textAlignmentSetting" Level="3">
  <Info>
    <Name>Text Alignment Setting</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>be7565b6-73bf-4408-8067-480cba4c02c3</Key>
      <Name>Text Alignment</Name>
      <Alias>textAlignment</Alias>
      <Definition>b370e93d-185f-4fda-ae45-1f19881c5b73</Definition>
      <Type>FaIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose how the text is aligned.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>