<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26083059-ffa2-4e87-ad57-0ccef26c0ee0" Alias="textColorSetting" Level="3">
  <Info>
    <Name>Text Color Setting</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3dbc4d4c-9a30-426b-a744-592500113f64</Key>
      <Name>Text Color</Name>
      <Alias>textColor</Alias>
      <Definition>d330281e-5d09-4fce-af12-0fc9262dc7f0</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the text color.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>