<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6e31d15-ec7b-4b66-9f16-708772d1937b" Alias="videoComponent" Level="3">
  <Info>
    <Name>Video Component</Name>
    <Icon>icon-video color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="1a78a7c6-b807-4fc0-9425-06b5db3ad474">video</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>