<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9f7b6914-97a0-457f-b319-17c473e83a84" Alias="widthSetting" Level="3">
  <Info>
    <Name>Width Setting</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1ce7485-9633-4f91-9e4e-ac5411ee6f92</Key>
      <Name>Width</Name>
      <Alias>sectionWidth</Alias>
      <Definition>394ce811-0267-4392-9f6e-fbf9c4d61eda</Definition>
      <Type>FaIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set width of section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>