<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81b4ccd9-2622-478c-8f5b-7b38cf836fa3" Alias="xmlSiteMap" Level="3">
  <Info>
    <Name>Xml Sitemap</Name>
    <Icon>icon-code color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions />
    <DefaultTemplate>xmlSiteMap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b5cf1c61-c507-4adf-89d0-c85c75628399">xmlSiteMap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4337ff7d-8914-497e-8403-d668d3f6c5a3</Key>
      <Name>Allow Listed Document Types</Name>
      <Alias>allowListedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of the document types that should be included in the XML site map.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>de1349fa-407e-40d9-b202-41b3498dbc5b</Key>
      <Name>Max Site Map Depth</Name>
      <Alias>maxSiteMapDepth</Alias>
      <Definition>9ccd23b9-f4cf-4267-be7d-dcef88470f5b</Definition>
      <Type>FaIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>