<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d26e0643-1d11-45e5-8174-2b53f0e534d6" Alias="xMLSiteMapSettings" Level="3">
  <Info>
    <Name>XML Site Map Settings</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2fb3de1a-7ed8-4cc8-9983-ccf999943c17</Key>
      <Name>Hide From XML Sitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation &amp; SEO</Caption>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>