<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88f67dda-263d-4687-9425-7ae83d32a3ba" Alias="accordionComponent" Level="3">
  <Info>
    <Name>Accordion Component</Name>
    <Icon>icon-list color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="7979eb47-57ad-44c1-9fee-8c91053f5d8b">accordion</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>