<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="754a40d7-cec8-499a-9fe3-459450706eea" Alias="articles" Level="3">
  <Info>
    <Name>Articles</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="02c6ebc4-d22c-4447-aa80-e6bf95f79f76">columnSettingsComposition</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerTitleComposition</Composition>
      <Composition Key="251ed707-15ab-4aaa-a67b-0eb0caddf35d">listingSettingsComposition</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="556975e2-e926-4797-94d8-2cd45a0d8fb5">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>articles</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b33d888b-e178-4f1c-8e59-304f4c17ea3b">articles</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6451f693-2072-4052-a415-9f0854cf53cd" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>