<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4cd45b5-298a-4c1c-91f4-3f86a039b982" Alias="bannerStripSection" Level="3">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-frame-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="f782f62f-b8bd-49d2-95c7-85683bbb9cd6">imageComposition</Composition>
      <Composition Key="18c559c8-3727-411d-8d1c-03704d6d8a62">subtitleComposition</Composition>
      <Composition Key="eb223080-7435-445d-8572-9b64f0bbbbaa">titleComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>