<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee26465e-e1fe-484c-a5fb-b3a4d108ba02" Alias="bannerStripComponent" Level="3">
  <Info>
    <Name>Banner Component</Name>
    <Icon>icon-frame-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="130a1293-1218-4292-ae54-df32cd7ffddc">bgColorSetting</Composition>
      <Composition Key="ede261c3-62f9-4f90-b017-a94dcf9ac42d">bgGradientSetting</Composition>
      <Composition Key="5b69c76a-5729-4207-ac2e-5730ffc967e4">bgTextureSetting</Composition>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="79654230-ccc6-4c92-a13a-9bb05d94d063">customClassComposition</Composition>
      <Composition Key="f782f62f-b8bd-49d2-95c7-85683bbb9cd6">imageComposition</Composition>
      <Composition Key="18c559c8-3727-411d-8d1c-03704d6d8a62">subtitleComposition</Composition>
      <Composition Key="345edfea-ed7f-41c5-a115-4dde65104adc">textAlignmentSetting</Composition>
      <Composition Key="26083059-ffa2-4e87-ad57-0ccef26c0ee0">textColorSetting</Composition>
      <Composition Key="eb223080-7435-445d-8572-9b64f0bbbbaa">titleComposition</Composition>
      <Composition Key="69bb9cfb-0e99-4bd0-a74d-33569e75540b">verticalSpacingSetting</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>