<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="130a1293-1218-4292-ae54-df32cd7ffddc" Alias="bgColorSetting" Level="3">
  <Info>
    <Name>Bg Color Setting</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2c7a4a0-8948-4f66-828c-668230f35cb8</Key>
      <Name>Background Color</Name>
      <Alias>bgColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the background color.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>