<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ede261c3-62f9-4f90-b017-a94dcf9ac42d" Alias="bgGradientSetting" Level="3">
  <Info>
    <Name>Bg Gradient Setting</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8b4b80e8-0ae0-48ba-a841-973f134ad06f</Key>
      <Name>Background Gradient</Name>
      <Alias>bgGradient</Alias>
      <Definition>a728ad57-2da2-4cc4-bed2-cc79f8ee7d4a</Definition>
      <Type>amplifyGradientPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>