<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4ef9bdd-674c-4643-8aa4-c6d1ad501225" Alias="clientsAndTestimonials" Level="3">
  <Info>
    <Name>Clients And Testimonials</Name>
    <Icon>icon-quote color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>13f16005-17c6-4cc6-b568-8a009c968f36</Key>
      <Name>Clients</Name>
      <Alias>clients</Alias>
      <Definition>6642a8f9-f66c-46a8-b925-32e2cc847b55</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9df56226-6445-4e87-8dad-2eeec7911b16</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>c4bf8614-4511-41fb-9258-c2468dbde05f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>