<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f9895e3-2a5d-4b2b-95ad-aef98e5bae1f" Alias="codeComponent" Level="3">
  <Info>
    <Name>Code Component</Name>
    <Icon>icon-code color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="e3d78510-704d-466a-be2a-30bfc8ac0030">code</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>