<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39678875-9b8a-460b-a6ab-b12e73b4fd08" Alias="contentPage" Level="3">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="3ae73c54-a2e4-4d9c-aa22-83328f5c9fac">articleImage</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerTitleComposition</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="211cac7a-50a9-418c-b089-b2b6e7e49e19">pageBlockList</Composition>
      <Composition Key="a0562d70-ec7e-4a79-86b4-294e3bca10c9">sideNavigationComposition</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95c2f9f5-eca3-4d25-ad84-2bd8b602a9bd">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="39678875-9b8a-460b-a6ab-b12e73b4fd08" SortOrder="0">contentPage</ContentType>
    <ContentType Key="89c3b552-9162-4a4a-9a4c-51d7ffd4da7c" SortOrder="1">landingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>