<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8490a91-e001-4e35-b1f8-f3e1a0201601" Alias="contentSection" Level="3">
  <Info>
    <Name>Content Section</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d87749e9-018a-474b-abf1-67984b899b07</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>d081f974-b16f-44a3-8d18-4bea5c97840a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>