<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f29a7751-d9d4-4912-a8e6-a206e4346e02" Alias="cookieNotification" Level="3">
  <Info>
    <Name>Cookie Notification</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Settings/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c56a283-ed0c-4496-93b7-5bbf6348db31</Key>
      <Name>Background Color</Name>
      <Alias>bgColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the background color for the cookie notification.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>716433c0-167d-4764-93af-bc7b0f6acc22</Key>
      <Name>Button Color</Name>
      <Alias>buttonColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick button color.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>2326ed1a-a815-4abe-b9cb-32e88d7299e4</Key>
      <Name>Button Text</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the button text for closing the notification.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>1b14404c-6aab-4f12-9d8d-b094335e3cd2</Key>
      <Name>Cookie Text</Name>
      <Alias>cookieText</Alias>
      <Definition>ed145635-d670-4c9e-9e4d-1591e72a675c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the text for the cookie notification.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>7a648df6-981b-483b-97cd-3b5915889e8b</Key>
      <Name>Cookie Title</Name>
      <Alias>cookieTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the title for cookie notification.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ca114c0e-d7a5-46b5-af16-ca32ad53d0cb</Key>
      <Name>Is Enabled</Name>
      <Alias>isEnabled</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable the cookie / privacy policy notification.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>23ed7296-471a-4070-b226-e24e2f16c61d</Key>
      <Name>Text Color</Name>
      <Alias>textColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set text color for the cookie notification.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Cookie Notification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Cookie Notification</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>