<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6b1e0ab-35b3-4f05-89cf-e16c161a649f" Alias="footerSection" Level="3">
  <Info>
    <Name>Footer Section</Name>
    <Icon>icon-item-arrangement color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Settings/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d8b8de14-4017-4fa9-863e-71ed41ab1da1</Key>
      <Name>Section Blocks</Name>
      <Alias>sectionBlocks</Alias>
      <Definition>a1882f54-2969-4e8b-b7d4-12338c4241fc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>