<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad8d2098-b764-4156-ab3e-8979c9436068" Alias="galleryComponent" Level="3">
  <Info>
    <Name>Gallery Component</Name>
    <Icon>icon-pictures-alt-2 color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="4bb7b452-c974-4242-a7aa-f40f0d3db82b">gallery</Composition>
      <Composition Key="41baed12-bf60-42a2-8ed4-312ddfec1609">gallerySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>