<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd9c697a-befe-4a35-bc1b-ebc85425a224" Alias="HeroBannerSettings" Level="3">
  <Info>
    <Name>Hero Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Blocks</Folder>
    <Compositions>
      <Composition Key="130a1293-1218-4292-ae54-df32cd7ffddc">bgColorSetting</Composition>
      <Composition Key="ede261c3-62f9-4f90-b017-a94dcf9ac42d">bgGradientSetting</Composition>
      <Composition Key="5b69c76a-5729-4207-ac2e-5730ffc967e4">bgTextureSetting</Composition>
      <Composition Key="79654230-ccc6-4c92-a13a-9bb05d94d063">customClassComposition</Composition>
      <Composition Key="345edfea-ed7f-41c5-a115-4dde65104adc">textAlignmentSetting</Composition>
      <Composition Key="26083059-ffa2-4e87-ad57-0ccef26c0ee0">textColorSetting</Composition>
      <Composition Key="69bb9cfb-0e99-4bd0-a74d-33569e75540b">verticalSpacingSetting</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>