<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8381f529-6513-4d97-ac07-d9a4396debaa" Alias="iconColorSettings" Level="3">
  <Info>
    <Name>Icon Color Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e44bd29-3c68-40ec-971b-9cd725a706c9</Key>
      <Name>Icon Color</Name>
      <Alias>iconColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Icon Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Icon Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>