<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8dbf970f-2ab5-498b-ba8b-135929651792" Alias="linkButtons" Level="3">
  <Info>
    <Name>Link Buttons</Name>
    <Icon>icon-checkbox-empty color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Settings/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4389a680-7f32-4261-8e11-c9db25bd4f16</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>c2044576-58a5-4ff9-bd91-986914b698b6</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>