<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="556975e2-e926-4797-94d8-2cd45a0d8fb5" Alias="pageSettings" Level="3">
  <Info>
    <Name>Page Settings</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b3d68f02-635f-4886-ab44-5d745e683fa4</Key>
      <Name>Background Color</Name>
      <Alias>contentBgColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the background color.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9e86fd28-b035-474e-8229-74d538480399</Key>
      <Name>Background Gradient</Name>
      <Alias>contentBgGradient</Alias>
      <Definition>a728ad57-2da2-4cc4-bed2-cc79f8ee7d4a</Definition>
      <Type>amplifyGradientPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a background gradient.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>29b3b85e-6754-4901-89c5-8649e8ec7ccc</Key>
      <Name>Background Texture</Name>
      <Alias>contentBgTexture</Alias>
      <Definition>519eaa41-b905-4371-aa7c-40c9b3946f66</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a transparent texture to overlay your background.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>1182aba3-729b-4136-a266-946e54afc0d4</Key>
      <Name>Text Color</Name>
      <Alias>contentTextColor</Alias>
      <Definition>d330281e-5d09-4fce-af12-0fc9262dc7f0</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose your text color,]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>