<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd269627-e65c-4bdc-9040-1b106e7dac97" Alias="podItem" Level="3">
  <Info>
    <Name>Pod Item</Name>
    <Icon>icon-coin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="deab844b-3907-48b0-9142-671d63c7041c">iconComponent</Composition>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dbaa5d78-9e2a-4509-8989-77275f2514fb</Key>
      <Name>Button</Name>
      <Alias>button</Alias>
      <Definition>db5ccdd5-0706-4e25-8a84-12afc8a30468</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>