<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6085c5bc-b047-42f5-b7a9-74281e34bf35" Alias="podSettings" Level="3">
  <Info>
    <Name>Pod Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Settings+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bdebc1ef-2176-4a96-8cb9-7dbb9066cc50</Key>
      <Name>Border Color</Name>
      <Alias>borderColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Color around the icon.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Pod Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>c8421d3d-0bc4-4db1-9804-c111d0889125</Key>
      <Name>Fill Gradient</Name>
      <Alias>fillGradient</Alias>
      <Definition>a728ad57-2da2-4cc4-bed2-cc79f8ee7d4a</Definition>
      <Type>amplifyGradientPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Fill gradient around the icon.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Pod Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>40cf33fd-9c5c-4eb5-886f-99ce98bb6628</Key>
      <Name>Icon Color</Name>
      <Alias>iconColor</Alias>
      <Definition>cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68</Definition>
      <Type>amplifyColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick the icon color]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Pod Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Pod Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>