<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8053a360-0fb6-4fee-a091-3f128587e238" Alias="reusableComponents" Level="3">
  <Info>
    <Name>Reusable Components</Name>
    <Icon>icon-colorpicker color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8543c748-36e0-458d-8ae8-1a63b02bc732" SortOrder="0">componentFolder</ContentType>
    <ContentType Key="88f67dda-263d-4687-9425-7ae83d32a3ba" SortOrder="1">accordionComponent</ContentType>
    <ContentType Key="ee26465e-e1fe-484c-a5fb-b3a4d108ba02" SortOrder="2">bannerStripComponent</ContentType>
    <ContentType Key="ad8d2098-b764-4156-ab3e-8979c9436068" SortOrder="3">galleryComponent</ContentType>
    <ContentType Key="bef22e22-265d-497e-8813-e77ead479169" SortOrder="4">imageComponent</ContentType>
    <ContentType Key="d250f836-228b-43f0-b633-f5366ee6cfb4" SortOrder="5">markdownComponent</ContentType>
    <ContentType Key="07ee9472-08bd-4e7e-b027-dbbb04ec79cd" SortOrder="6">quoteComponent</ContentType>
    <ContentType Key="a55b4e1e-3aa6-43c5-845b-f1522b06bc3c" SortOrder="7">shareLinksComponent</ContentType>
    <ContentType Key="d9f1109e-edb7-4ac9-831d-c36c01fc5056" SortOrder="8">tabsComponent</ContentType>
    <ContentType Key="0f9895e3-2a5d-4b2b-95ad-aef98e5bae1f" SortOrder="9">codeComponent</ContentType>
    <ContentType Key="2c40f2a5-094a-45ec-a583-615fac4490d6" SortOrder="10">sliderComponent</ContentType>
    <ContentType Key="986b936b-13f1-4795-bc98-650b67bfb44d" SortOrder="11">umbracoFormComponent</ContentType>
    <ContentType Key="f141e2e1-7b59-4b5f-9e35-ee327db240d3" SortOrder="12">titleItemComponent</ContentType>
    <ContentType Key="b6e31d15-ec7b-4b66-9f16-708772d1937b" SortOrder="13">videoComponent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>