<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0562d70-ec7e-4a79-86b4-294e3bca10c9" Alias="sideNavigationComposition" Level="3">
  <Info>
    <Name>Side Navigation Composition</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a10db8d8-45e8-44bc-87d0-bc8b6dd77fc9</Key>
      <Name>Hide Side Navs</Name>
      <Alias>hideSideNavs</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By default both side navigation's are shown, toggle this to hide them.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation &amp; SEO</Caption>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>