<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b50e3d4-3239-410c-9f9f-f751e2ed3183" Alias="sitemap" Level="3">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerTitleComposition</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="556975e2-e926-4797-94d8-2cd45a0d8fb5">pageSettings</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f9b86a9-dd07-41f1-a3a6-735013a04774">sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e051956e-8185-4e33-b25c-94db5aff4db7</Key>
      <Name>Allowed Listed Document Types</Name>
      <Alias>allowedListedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of the document types that should be included in the site map.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>