<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0f85a3d-02dc-454d-adb8-8e0f5accad4e" Alias="slider" Level="3">
  <Info>
    <Name>Slider</Name>
    <Icon>icon-slideshow color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e68bcb63-a737-4e8c-9aaa-b4bd7d2f6449</Key>
      <Name>Slide Blocks</Name>
      <Alias>slideBlocks</Alias>
      <Definition>c2dc8882-9441-4318-9176-d6e9e0b78bf7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>