<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18c559c8-3727-411d-8d1c-03704d6d8a62" Alias="subtitleComposition" Level="3">
  <Info>
    <Name>Subtitle Composition</Name>
    <Icon>icon-plugin color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>12bd89bd-6d14-4c62-bc60-bc398fb6d1f6</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>ed145635-d670-4c9e-9e4d-1591e72a675c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>