<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f141e2e1-7b59-4b5f-9e35-ee327db240d3" Alias="titleItemComponent" Level="3">
  <Info>
    <Name>Title Item Component</Name>
    <Icon>icon-poll color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Reusable</Folder>
    <Compositions>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>