<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1a92503-cc7a-4344-95e9-9003d2ff4746" Alias="videoSection" Level="3">
  <Info>
    <Name>Video Section</Name>
    <Icon>icon-video color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Content+Blocks</Folder>
    <Compositions>
      <Composition Key="3a324bbc-71d6-48b8-a04a-3427c07db130">buttonsComposition</Composition>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleItem</Composition>
      <Composition Key="1a78a7c6-b807-4fc0-9425-06b5db3ad474">video</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>