<?xml version="1.0" encoding="utf-8"?>
<Macro Key="480075d7-3f9d-4190-9356-11978ddbb8cf" Alias="renderUmbracoForm" Level="0">
  <Name>Insert Form with Theme</Name>
  <MacroSource>~/Views/MacroPartials/InsertUmbracoFormWithTheme.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Exclude Scripts</Name>
      <Alias>ExcludeScripts</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
    <Property>
      <Name>Choose a form</Name>
      <Alias>FormGuid</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    </Property>
    <Property>
      <Name>Theme</Name>
      <Alias>FormTheme</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    </Property>
  </Properties>
</Macro>