<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ddcd500-7df5-45cf-952c-fb958fdb9b92" Alias="Amp: Aligned Text Block List" Level="2">
  <Info>
    <Name>Amp: Aligned Text Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d3cf49bc-5772-4a83-ae0c-e63b78ed26e4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{textLeft}} {{textRight}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>