<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26f6bbe9-398f-4fb8-8ac7-683676008268" Alias="Amp: Articles Picker" Level="2">
  <Info>
    <Name>Amp: Articles Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "article",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>