<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b370e93d-185f-4fda-ae45-1f19881c5b73" Alias="Amp: Buttons - Text Alignment" Level="2">
  <Info>
    <Name>Amp: Buttons - Text Alignment</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "Left",
      "value": "has-text-left",
      "svg": ""
    },
    {
      "label": "Center",
      "value": "has-text-centered",
      "svg": ""
    },
    {
      "label": "Right",
      "value": "has-text-right",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "has-text-left"
}]]></Config>
</DataType>