<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb2c11f9-12e8-4a5c-9c7e-312efa8aeb68" Alias="Amp: Background Picker" Level="2">
  <Info>
    <Name>Amp: Background Picker</Name>
    <EditorAlias>amplifyColorPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "propertyAlias": "backgroundPalette",
  "defaultValue": "$white"
}]]></Config>
</DataType>