<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0dacb34-0476-4065-9a1f-a4cf43cee51c" Alias="Amp: Buttons - Image Alignment" Level="2">
  <Info>
    <Name>Amp: Buttons - Image Alignment</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "Left",
      "value": "is-left",
      "svg": ""
    },
    {
      "label": "Right",
      "value": "is-right",
      "svg": ""
    },
    {
      "label": "Full Width",
      "value": "is-full-width",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "is-left"
}]]></Config>
</DataType>