<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60e5ee43-c917-4d50-a1cb-68c61a277083" Alias="Amp: Buttons - 1 to 4" Level="2">
  <Info>
    <Name>Amp: Buttons - 1 to 4</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "1",
      "value": "1",
      "svg": ""
    },
    {
      "label": "2",
      "value": "2",
      "svg": ""
    },
    {
      "label": "3",
      "value": "3",
      "svg": ""
    },
    {
      "label": "4",
      "value": "4",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "3"
}]]></Config>
</DataType>