<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb959e55-a678-4a1e-8e6b-5dda580cb1dd" Alias="Amp: Buttons - Vertical Spacing" Level="2">
  <Info>
    <Name>Amp: Buttons - Vertical Spacing</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "None",
      "value": "no-spacing",
      "svg": ""
    },
    {
      "label": "Normal",
      "value": "is-normal",
      "svg": ""
    },
    {
      "label": "Medium",
      "value": "is-medium",
      "svg": ""
    },
    {
      "label": "Large",
      "value": "is-large",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "is-normal"
}]]></Config>
</DataType>