<?xml version="1.0" encoding="utf-8"?>
<DataType Key="394ce811-0267-4392-9f6e-fbf9c4d61eda" Alias="Amp: Buttons - Width" Level="2">
  <Info>
    <Name>Amp: Buttons - Width</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "Narrow",
      "value": "is-6-desktop",
      "svg": ""
    },
    {
      "label": "Medium",
      "value": "is-8-desktop",
      "svg": ""
    },
    {
      "label": "Full",
      "value": "is-fullwidth",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "is-8-desktop"
}]]></Config>
</DataType>