<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f6619b6-08a4-4be7-8d6a-2761844ee567" Alias="Amp: Decimal" Level="2">
  <Info>
    <Name>Amp: Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Various</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>