<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b93c227e-0463-4f6d-9b41-89e59823d4c1" Alias="Amp: Email" Level="2">
  <Info>
    <Name>Amp: Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>