<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7666e664-c10b-4d83-bf94-35c066d0bbea" Alias="Amp: Footer Block List" Level="2">
  <Info>
    <Name>Amp: Footer Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e6b1e0ab-35b3-4f05-89cf-e16c161a649f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>