<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1882f54-2969-4e8b-b7d4-12338c4241fc" Alias="Amp: Footer Section Block List" Level="2">
  <Info>
    <Name>Amp: Footer Section Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3bf7b8f5-ae10-4a71-8819-57a24a6b6fa1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{childLinks ? 'Links: '+ childLinks.length + ' link(s)' : 'Links'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a09a659f-947d-4e79-9a21-b9d914dc5006",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Articles",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "df3a1268-e22e-4d4b-a42b-1ef05855fef6",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Latest Articles",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "449474ad-0b12-42ba-b256-d484035cfd89",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Social Links",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "21890346-adcd-4bf4-a601-c07d421de78c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Contact Details",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9b10ec60-5499-47bb-8103-f1fa8402f5b3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Aligned Text: {{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>