<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6761e109-462c-4d40-a6ba-79161051f72d" Alias="Amp: Gradient Palette" Level="2">
  <Info>
    <Name>Amp: Gradient Palette</Name>
    <EditorAlias>amplifyGradientPalette</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "propertyAlias": "gradientPalette"
}]]></Config>
</DataType>