<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2044576-58a5-4ff9-bd91-986914b698b6" Alias="Amp: Links Buttons" Level="2">
  <Info>
    <Name>Amp: Links Buttons</Name>
    <EditorAlias>FaLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "primaryClassItems": [
    {
      "name": "Link",
      "value": ""
    },
    {
      "name": "Primary",
      "value": "is-primary"
    },
    {
      "name": "Secondary",
      "value": "is-info"
    }
  ],
  "secondaryClassItems": [
    {
      "name": "Solid",
      "value": ""
    },
    {
      "name": "Inverted",
      "value": "is-inverted is-outlined"
    }
  ],
  "hideIconPicker": "1"
}]]></Config>
</DataType>