<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd0d6da2-2727-44dc-b887-3f241d2cc664" Alias="Amp: Link" Level="2">
  <Info>
    <Name>Amp: Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>