<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb2534bb-a092-4d18-ac79-8bc84db852d0" Alias="Amp: Navigation Columns Block List" Level="2">
  <Info>
    <Name>Amp: Navigation Columns Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3bf7b8f5-ae10-4a71-8819-57a24a6b6fa1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{childLinks ? 'Links: '+ childLinks.length + ' link(s)' : 'Links'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a09a659f-947d-4e79-9a21-b9d914dc5006",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Articles",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "df3a1268-e22e-4d4b-a42b-1ef05855fef6",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Latest Articles",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>