<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ed810ff-32dd-4b63-bd96-b9ab2b634256" Alias="Amp: Page Block List" Level="2">
  <Info>
    <Name>Amp: Page Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "7979eb47-57ad-44c1-9fee-8c91053f5d8b",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{accordionBlocks.contentData ? 'Accordion: ' + accordionBlocks.contentData.length + ' item(s)' : 'Accordion'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b4cd45b5-298a-4c1c-91f4-3f86a039b982",
      "settingsElementTypeKey": "da050365-e615-46a3-812a-aad5e33a1a52",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Banner: ' + title : 'Banner'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e3d78510-704d-466a-be2a-30bfc8ac0030",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4bb7b452-c974-4242-a7aa-f40f0d3db82b",
      "settingsElementTypeKey": "41baed12-bf60-42a2-8ed4-312ddfec1609",
      "view": null,
      "stylesheet": null,
      "label": "{{items.contentData ? 'Gallery: ' + items.contentData.length + ' image(s)' : 'Gallery'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "bd1f4034-e800-4e5a-aaa9-f6590e118215",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fa6215c2-bfec-4f1c-882f-c1e3e5b072a5",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{quoteAuthor ? 'Quote: ' + quoteAuthor : 'Quote'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6da2bec0-dcee-4116-84b8-31aed1b4fbc7",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label ? 'Reusable Block: ' + label : 'Reusable Block'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4deb7e91-f542-4e50-975d-d483f469b2b3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9d958b53-11e1-48d6-8204-b32257de57f6",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a0f85a3d-02dc-454d-adb8-8e0f5accad4e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{slideBlocks.contentData ? 'Slider: ' + slideBlocks.contentData.length + ' item(s)' : 'Slider'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2c99e255-4d1d-4831-aba7-289496e960ea",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Image: ' + title : 'Image'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "51a8f232-fc40-411f-8149-44e63c705b76",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{tabBlocks.contentData ? 'Tabs: ' + tabBlocks.contentData.length + ' item(s)' : 'Tabs'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1db5a249-026e-421e-aebc-2c20df5a02e4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Title Item: ' + title : 'Title Item'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6da8b09e-2d3c-4a08-8663-febf37c301ae",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Umbraco Form",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1a78a7c6-b807-4fc0-9425-06b5db3ad474",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Video",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>