<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56187630-528a-4fb1-9f68-c1e57d9ca002" Alias="Amp: Repeatable String" Level="2">
  <Info>
    <Name>Amp: Repeatable String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>