<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2dc8882-9441-4318-9176-d6e9e0b78bf7" Alias="Amp: Slider Block List" Level="2">
  <Info>
    <Name>Amp: Slider Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "11b13c7b-7bd9-462f-9b58-692746c0cc4d",
      "settingsElementTypeKey": "29a71136-8876-4825-b713-3bdbe730bafb",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Slide: ' + title : 'Slide'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>