<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cc0eba1-9960-42c9-bf9b-60e150b429ae" Alias="Amp: Textstring" Level="2">
  <Info>
    <Name>Amp: Textstring</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>