<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4bf8614-4511-41fb-9258-c2468dbde05f" Alias="Amp: Testimonial Block List" Level="2">
  <Info>
    <Name>Amp: Testimonial Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "784e7cc7-15a4-4ece-9876-263cea17e5b0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{person ? 'Testimonial: ' + person : 'Testimonial'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>