<!doctype html>
<html>
<%= VUE_APP_HEADER %>
<body>
    <%= VUE_APP_NAVBAR_SOLID %>
    <main>
        <div class="amplify-overlay"></div>
        <section class="section is-medium has-background-white has-padding-bottom-0 amplify-header">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8 has-text-centered ">
                        <div class="has-width-80-percent">
                            <div class="has-margin-bottom-4">
                                <h1 class="title is-size-3 is-size-2-tablet">Quote</h1>
                                <h4 class="subtitle is-size-5 is-size-4-tablet">
                                    Inspire your audience, embed quotes where you need them!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section has-padding-top-3 has-padding-top-6-tablet">
            <div class="container">
                <div class="columns ">
                    <div class="column is-2-tablet">
                        <%= VUE_APP_SIDE_BAR %>
                    </div>
                    <div class="column is-8-tablet ">
                        <div class="content is-normal">
                            <div class="has-margin-bottom-5">
                                <blockquote class="is-size-5">
                                    <p>There have to be reasons that you get up in the morning and you want to live. Why
                                        do you want to live? What's the point? What inspires you? What do you love about
                                        the future? If the future does not include being out there among the stars and
                                        being a multi-planet species, I find that incredibly depressing.</p>
                                    <small>- Elon Musk</small>
                                </blockquote>
                            </div>

                            <div class="has-margin-bottom-5">
                                <blockquote class="is-size-5">
                                    <p>If you go back a few hundred years, what we take for granted today would seem
                                        like magic-being able to talk to people over long distances, to transmit images,
                                        flying, accessing vast amounts of data like an oracle. These are all things that
                                        would have been considered magic a few hundred years ago.</p>
                                    <small>- Elon Musk</small>
                                </blockquote>
                            </div>

                            <div class="has-margin-bottom-5">
                                <blockquote class="is-size-5">
                                    <p>If you get up in the morning and think the future is going to be better, it is a
                                        bright day. Otherwise, it's not.</p>
                                    <small>- Elon Musk</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%= VUE_APP_FOOTER %>
    <a href="#" id="backToTop" class="amplify-top"></a>
</body>
</html>