<?xml version="1.0" encoding="utf-8"?>
<DataType Key="525422f0-a00a-4354-bb70-429de8156cba" Alias="Amp: Buttons - Accordion" Level="2">
  <Info>
    <Name>Amp: Buttons - Accordion</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "First Open",
      "value": "first-open",
      "svg": ""
    },
    {
      "label": "All Open",
      "value": "all-open",
      "svg": ""
    },
    {
      "label": "All Closed",
      "value": "all-closed",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "first-open"
}]]></Config>
</DataType>