<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5d1bbbb-c58b-48c1-8686-0d9e7efec1cd" Alias="Amp: Buttons - Currency" Level="2">
  <Info>
    <Name>Amp: Buttons - Currency</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "€",
      "value": "€",
      "svg": ""
    },
    {
      "label": "£",
      "value": "£",
      "svg": ""
    },
    {
      "label": "$",
      "value": "$",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "€"
}]]></Config>
</DataType>