<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb27cd00-34a0-457f-a6aa-a65e14b0b508" Alias="Amp: Buttons - Per Page" Level="2">
  <Info>
    <Name>Amp: Buttons - Per Page</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "3",
      "value": "3",
      "svg": ""
    },
    {
      "label": "4",
      "value": "4",
      "svg": ""
    },
    {
      "label": "6",
      "value": "6",
      "svg": ""
    },
    {
      "label": "8",
      "value": "8",
      "svg": ""
    },
    {
      "label": "9",
      "value": "9",
      "svg": ""
    },
    {
      "label": "12",
      "value": "12",
      "svg": ""
    },
    {
      "label": "15",
      "value": "15",
      "svg": ""
    },
    {
      "label": "16",
      "value": "16",
      "svg": ""
    },
    {
      "label": "18",
      "value": "18",
      "svg": ""
    },
    {
      "label": "20",
      "value": "20",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "3"
}]]></Config>
</DataType>