<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b1686f9-4443-4722-b2e1-c4b4f5a596a9" Alias="Amp: Buttons - Image Ratio" Level="2">
  <Info>
    <Name>Amp: Buttons - Image Ratio</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "3 by 1",
      "value": "is-3by1",
      "svg": ""
    },
    {
      "label": "Square",
      "value": "is-square",
      "svg": ""
    },
    {
      "label": "Original Size",
      "value": "",
      "svg": ""
    },
    {
      "label": "3 by 2",
      "value": "is-3by2",
      "svg": ""
    },
    {
      "label": "2 by 1",
      "value": "is-2by1",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0",
  "defaultValue": "is-3by1"
}]]></Config>
</DataType>