<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7f5b632-db84-45e3-a4c8-54d0367b49e4" Alias="Amp: Colors" Level="2">
  <Info>
    <Name>Amp: Colors</Name>
    <EditorAlias>amplifyColorPalette</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>