<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d081f974-b16f-44a3-8d18-4bea5c97840a" Alias="Amp: Content Block List" Level="2">
  <Info>
    <Name>Amp: Content Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d69f8957-71a4-4ea5-807d-dd6da926afe0",
      "settingsElementTypeKey": "708729de-7b23-451d-b044-919b0c412e99",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Article List: ' + title : 'Article List'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b4cd45b5-298a-4c1c-91f4-3f86a039b982",
      "settingsElementTypeKey": "da050365-e615-46a3-812a-aad5e33a1a52",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Banner: ' + title : 'Banner'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b4ef9bdd-674c-4643-8aa4-c6d1ad501225",
      "settingsElementTypeKey": "63a1f031-4fb0-4140-9efb-69170a723aa7",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Clients And Testimonials: ' + title : 'Clients And Testimonials'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e22b3632-b084-44f4-b833-cb32e275d7d7",
      "settingsElementTypeKey": "bf08846c-6875-47b6-aa40-417e00dc782f",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Pods: ' + title : 'Pods'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4bb7b452-c974-4242-a7aa-f40f0d3db82b",
      "settingsElementTypeKey": "41baed12-bf60-42a2-8ed4-312ddfec1609",
      "view": null,
      "stylesheet": null,
      "label": "{{items.contentData ? 'Gallery: ' + items.contentData.length + ' image(s)' : 'Gallery'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "63588faf-661f-483f-8efb-16e7821fc702",
      "settingsElementTypeKey": "bd9c697a-befe-4a35-bc1b-ebc85425a224",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Hero: ' + title : 'Hero'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0e87186c-68c3-47f2-9d5c-eecbb9aed53a",
      "settingsElementTypeKey": "8cce47c6-f258-4845-b8ad-31a242808644",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Image: ' + title : 'Image'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "60020863-f766-4ca8-a2bb-5ebc91acf675",
      "settingsElementTypeKey": "9e3035f2-a2bd-4c9a-8a57-0abdf7da7b1e",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Mini Icons List: ' + title : 'Mini Icons List'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e40cc2eb-bf20-4cc0-8540-ba94c15d9580",
      "settingsElementTypeKey": "66bf57ed-0181-41b7-8c99-c209784897b4",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'People List: ' + title : 'People List'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9a4ff9ef-1615-4882-b2e4-aaea4a50a12c",
      "settingsElementTypeKey": "a2318635-9455-4319-ad77-8193eecf6983",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Product List: ' + title : 'Product List'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9d958b53-11e1-48d6-8204-b32257de57f6",
      "settingsElementTypeKey": "08b97c85-f4c1-4f23-9a1e-8030e6e2418f",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a0f85a3d-02dc-454d-adb8-8e0f5accad4e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{slideBlocks.contentData ? 'Slider: ' + slideBlocks.contentData.length + ' item(s)' : 'Slider'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d6031936-9492-490b-b900-7f8448d9524c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0765d9cc-7955-4612-8867-c549026b617b",
      "settingsElementTypeKey": "96e6918e-a511-497a-bc56-64c7d213567e",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Umbraco Form: ' + title : 'Umbraco Form'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e1a92503-cc7a-4344-95e9-9003d2ff4746",
      "settingsElementTypeKey": "f930aff2-95c9-4ecb-b0d4-f2e3c5982721",
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Video: ' + title : 'Video'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>