<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6642a8f9-f66c-46a8-b925-32e2cc847b55" Alias="Amp: Clients Block List" Level="2">
  <Info>
    <Name>Amp: Clients Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "92891552-536b-4919-8023-4b3379fbc7c3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{clientName ? 'Client: ' + clientName : 'Client'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>