<?xml version="1.0" encoding="utf-8"?>
<DataType Key="377da888-dbaf-4d95-bd85-1aeb78ef89e2" Alias="Amp: Feature Block List" Level="2">
  <Info>
    <Name>Amp: Feature Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3695ef7f-b849-4b7e-8cc5-a2500b3d3e94",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{feature? 'Feature: ' + feature : 'Feature'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>