<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee2edf9d-2162-43fb-85da-485269373196" Alias="Amp: Gallery Block List" Level="2">
  <Info>
    <Name>Amp: Gallery Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d70f4086-4350-45e7-bb46-ad28d3c81402",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Gallery Item: ' + title : 'Gallery Item'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>