<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02d51888-2706-4e98-a73e-1e1ab9eb8763" Alias="Amp: List View - Articles" Level="2">
  <Info>
    <Name>Amp: List View - Articles</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>List+Views</Folder>
  </Info>
  <Config><![CDATA[{
  "PageSize": 20,
  "OrderBy": "displayDate",
  "OrderDirection": "desc",
  "IncludeProperties": [
    {
      "alias": "displayDate",
      "header": "Display Date",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "updater",
      "header": null,
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false
}]]></Config>
</DataType>