<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16e607c1-ede2-43be-848b-2f89dcd746d2" Alias="Amp: Mini Icon Block List" Level="2">
  <Info>
    <Name>Amp: Mini Icon Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "cb81a6c5-e6e0-44db-948a-1a230df0ee59",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{text ? 'Mini Icon: ' + text : 'Mini Icon'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>