<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3acd032f-051c-4148-a2aa-602bb823a0cd" Alias="Amp: Navigation Block List" Level="2">
  <Info>
    <Name>Amp: Navigation Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "97750675-412d-48a3-bd50-762916553ee5",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{link[0].name ? 'Nav: ' + link[0].name: 'Nav Section'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8dbf970f-2ab5-498b-ba8b-135929651792",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>