<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45f1149f-b58b-4fc1-86cc-de2335f8c085" Alias="Amp: Pod Block List" Level="2">
  <Info>
    <Name>Amp: Pod Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "dd269627-e65c-4bdc-9040-1b106e7dac97",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Pod: ' + title : 'Pod'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>