<?xml version="1.0" encoding="utf-8"?>
<DataType Key="363a7431-e24d-45f2-9c42-32c0af01a356" Alias="Amp: Page Picker" Level="2">
  <Info>
    <Name>Amp: Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "articles",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>