<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01bb855e-5a2d-4f3d-9856-65d51610058c" Alias="Amp: Products Section Picker" Level="2">
  <Info>
    <Name>Amp: Products Section Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "products",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>