<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7eb23cc0-b42c-42aa-95b8-1ebb5cf888d9" Alias="Amp: Reusable Component Picker" Level="2">
  <Info>
    <Name>Amp: Reusable Component Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site",
    "id": null
  },
  "Filter": "accordionComponent,bannerStripComponent,codeComponent,galleryComponent,iconsListComponent,imageComponent,markdownComponent,quoteComponent,shareLinksComponent,sliderComponent,tabsComponent,titleItemComponent,umbracoFormComponent,videoComponent",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>