<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe22bbd2-9cda-41d4-a200-e5f25a92a171" Alias="Amp: Tabs Block List" Level="2">
  <Info>
    <Name>Amp: Tabs Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3618fb38-ddca-46f5-876c-50efec9756ef",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? 'Tab: ' + title : 'Tab'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>