<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46530f44-2077-42b1-939b-329e12c99745" Alias="Amp: Theme Picker" Level="2">
  <Info>
    <Name>Amp: Theme Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "theme",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>