<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b43a499-3b0c-4abd-b2e7-ee3f7a4f2bbb" Alias="Amp: Theme Color Picker" Level="2">
  <Info>
    <Name>Amp: Theme Color Picker</Name>
    <EditorAlias>amplifyColorPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "propertyAlias": "themePalette"
}]]></Config>
</DataType>