<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc63dda5-fae8-40f8-80ca-35a201c70a15" Alias="Amp: Video Picker" Level="2">
  <Info>
    <Name>Amp: Video Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "media",
    "query": null,
    "id": null
  },
  "Filter": "File",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>